pkgbase = routeros-cli-bin
	pkgdesc = CLI tool for managing MikroTik RouterOS routers (binary name: ros)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/nic0der-im/routeros-cli
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = routeros-cli
	provides = ros
	conflicts = routeros-cli
	conflicts = ros
	source_x86_64 = routeros-cli-bin-0.4.0-x86_64.tar.gz::https://github.com/nic0der-im/routeros-cli/releases/download/v0.4.0/ros_0.4.0_linux_amd64.tar.gz
	sha256sums_x86_64 = ee6325e1012e4da76d182f6241b3b5a9985e394d17b2d005683bc961f3631e25
	source_aarch64 = routeros-cli-bin-0.4.0-aarch64.tar.gz::https://github.com/nic0der-im/routeros-cli/releases/download/v0.4.0/ros_0.4.0_linux_arm64.tar.gz
	sha256sums_aarch64 = 7cf09ed8f491bb67101e686d3b884c0a73ab67781ebbdd0dff0d3c358e203b83

pkgname = routeros-cli-bin
